/* Colores */
$gray: #F0EEE2;
$orange: #A6431A;
$brown: #251203;
$yellow: #D3A341;
$blue: #7C90A8;

/* Imports */
@import "../js/select/selectordie";

/* Helpers */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Estilos */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 18px;
	background-color: $gray;
	font-family: 'Open Sans', sans-serif;
}

	a {
		color: $yellow;
		text-decoration: none;
	}

.kontainer {
	max-width: 1350px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	text-align: center;
	max-width: 960px;
	margin: 3% auto;
	@include clearfix;
}

	.site__icon {
		width: 250px;
		margin-right: 20px;
		float: left;
	}
	.site__title {		
		text-align: left;
	}
		.title {
			margin: 0;
			font-size: 4em;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
		.description {
			margin: 0;
		}
		.social span {
			width: 130px;
			height: 20px;
			margin-top: 20px;
			display: inline-block;
			iframe {
				width: 100%;
				height: 100%;
			}
		}

.content__filter {
	text-align: center;
}
	.filter__title {
		font-size: 1.1em;
		font-size: 11px;
		text-transform: uppercase;
	}
	.filter__title,
	#by_department,
	#by_gang {
		margin: 0 10px;
		display: inline-block;
		vertical-align: middle;
	}

.content__people {
	margin: 5% 0;
	position: relative;
	perspective: 800px;
}
	/* Set perspective and flip the card */
	.card__container {
		perspective: 1000;
		margin: 10px;
		.flip {
			transform: rotateY(180deg);
		}

		cursor: url(../img/rotate_cursor.png), auto;
	}

	.card__container, .front, .back {
		width: 420px;
		height: 300px;
		max-width: 420px;
	}

	/* flip speed goes here */
	.card {
		transition: 0.6s;
		transform-style: preserve-3d;

		position: relative;
		@include clearfix;
	}
		.card__image {
			height: 100%;
			margin-right: 10px;
			float: left;
		}
		.card__image[src$=".gif"] {
			width:16px!important;
			height: auto;
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		.card__info {
			padding: 10px;
			font-weight: 300;
			.name {
				margin: 0;
				font-size: 1.1em;
			}
			.years {
				color: $orange;
			}
			span {
				font-weight: 400;
			}
		}
		.card__details {
			padding: 10px;
			text-align: center;
			font-size: .8em;

			.years_position {
				margin: 0;
				font-size: 4em;
			}
			.years__details {
				padding: 5px auto;
				text-align: left;
				list-style: square;
			}
			.contact {
				padding: 5px 0;
				border-top: 2px solid $gray;
			}
		}
		

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;
		background-color: #FFF;
		position: absolute;
		top: 0;
		left: 0;
	}

	/* front pane, placed above back */
	.front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(180deg);
	}

.attribution {
	color: $blue;
	padding: 2% 0;
	text-align: center;
	p {
		margin: 0;
	}
}
		
	